footer
  .container.text-center
    p.float-left © 2019 Clifton Fan Club, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/aridokmecian/FriendsToGo') GitHub